---

- block:

    - name: check current install
      ansible.builtin.stat:
        path: "{{ system_tools_geekbench_bin }}"
      register: t_system_tools_geekbench_bin

    - block:

        - name: download geekbench
          ansible.builtin.get_url:
            url: "{{ system_tools_geekbench_url }}"
            dest: "{{ system_tmp_dir }}/{{ system_tools_geekbench_archive_name }}.tar.gz"

        - name: extract archive
          ansible.builtin.unarchive:
            src: "{{ system_tmp_dir }}/{{ system_tools_geekbench_archive_name }}.tar.gz"
            dest: "{{ system_tools_geekbench_local_dir }}"
            owner: root
            group: root
            remote_src: yes

        - name: cleanup
          ansible.builtin.file:
            path: "{{ item }}"
            state: absent
          loop:
            - "{{ system_tmp_dir }}/{{ system_tools_geekbench_archive_name }}.tar.gz"

      when: not t_system_tools_geekbench_bin.stat.exists

    - name: create bin shortcut
      ansible.builtin.file:
        src: "{{ system_tools_geekbench_bin }}"
        dest: "{{ system_tools_geekbench_local_bin_dir }}/{{ system_tools_geekbench_bin_name }}"
        state: link
        force: yes
        follow: no

  when: want_system_tools_geekbench
