---

- block:

    - name: check current install
      ansible.builtin.stat:
        path: "{{ system_tools_geekbench_ai_bin }}"
      register: t_system_tools_geekbench_ai_bin

    - block:

        - name: download geekbench AI
          ansible.builtin.get_url:
            url: "{{ system_tools_geekbench_ai_url }}"
            dest: "{{ system_tmp_dir }}/{{ system_tools_geekbench_ai_archive_name }}.tar.gz"

        - name: extract archive
          ansible.builtin.unarchive:
            src: "{{ system_tmp_dir }}/{{ system_tools_geekbench_ai_archive_name }}.tar.gz"
            dest: "{{ system_tools_geekbench_ai_local_dir }}"
            owner: root
            group: root
            remote_src: yes

        - name: cleanup
          ansible.builtin.file:
            path: "{{ item }}"
            state: absent
          loop:
            - "{{ system_tmp_dir }}/{{ system_tools_geekbench_ai_archive_name }}.tar.gz"

      when: not t_system_tools_geekbench_ai_bin.stat.exists

    - name: create geekbench AI bin shortcut
      ansible.builtin.template:
        src: "geekbench_ai/geekbench_ai_bin"
        dest: "{{ system_tools_geekbench_ai_local_bin_dir }}/{{ system_tools_geekbench_ai_shortcut_bin_name }}"
        owner: root
        group: root
        mode: "0755"

  when: want_system_tools_geekbench_ai
